
.column {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding:0px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(112, 109, 109, 0.959);
    margin: 8px;
    height: 30%;
    padding: 20px;
    background-color: #e6e6e6;
  }
  
  .container {
    padding: 0 16px;
    display: flexbox;
  }
  
  .container::after, .row::after {
    clear: both;
    display: table;
      
  }
 
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  .button {
    background-color: white;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
  }
 
  .button:hover {
    background-color: white;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }

  
h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
   
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background-color: #4070f4;
  font-family: 'Roboto', sans-serif;
   
}
section{
  margin: 50px;
     
}

a{
    color: white;
    text-decoration: none;
}

.nav_items {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
     position: fixed;
    top: -44%;
    left: 33%; 
     
    
}

.nav_item {
  column-gap: 19px;
    margin-left: -200px;
    color: #FFF;
    word-spacing: 30px;
    position: fixed;
    left: 450px;
    top: 3%;
    
       
    
}

i {
    padding: 20px;
    position: fixed;
    top: -1%;
}

.username-top {
   position: fixed;
    left: 80%;
    top: 1%;
    text-decoration:underline;
}
.sign-out {
   position: fixed;
    left: 90%;
    top: 1%;
    text-decoration:underline;
}

.logo {
  font-size: 25px;
  padding: 0 15px;
    margin: 22px;

      }
      
      .nav-bar{
         
          height: 55px;
          width: 150%;
          position: fixed;
          top: -1%;
          margin-left: -10px;
        background-color: black;
      }

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
