body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

header {
  background-color: #ffffff;
  padding: 10px;
  padding-top: 0px;
}

.upload-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}



.upload-button input[type="file"] {
  display: none;
}

.download-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(18, 62, 206);
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #0044b1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-right: 3px;
  justify-content: center;
  
}

.menu li a {
  display: block;
  color: rgb(0, 38, 161);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: medium;
  
}

.menu li a:hover {
  background-color: #f5f5f5;
}

.menu .dropdown {
  position: relative;
}

.menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f5f5f5;
  min-width: 150px;
  z-index: 1;
  padding: 5px;
}

.menu .dropdown:hover .dropdown-content {
  display: block;
}

.main {
  padding: 20px;
}

footer {
  background-color: #210af1;
  padding: 10px;
  text-align: center;
}

footer p{
  color: white;
}

/* Student info section styles */
.student-info-section {
  text-align: center;
}

.student-info {
  display: flex;

}

.profile-picture {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.student-details {
  text-align: left;
}

.student-details h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.personal-info-section {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.personal-info-section h3 {
  margin-top: 0;
}

/* Academic info section styles */
.academic-info-section {
  
  justify-content: center;
  align-items: center;
  text-align: center;
}

.academic-info-section h3 {
  margin-top: 0;
}

/* Course Improvement section styles */
.course-improvement-section {
  text-align: center;
}

.course-improvement-form {
  max-width: 400px;
  margin: 0 auto;
}

.course-improvement-form label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;
}

.course-improvement-form select,
.course-improvement-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.course-improvement-form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}

.course-improvement-form input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Course Withdraw section styles */
.course-withdraw-section {
  text-align: center;
}

.course-withdraw-form {
  max-width: 400px;
  margin: 0 auto;
}

.course-withdraw-form label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;
}

.course-withdraw-form select,
.course-withdraw-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.course-withdraw-form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.course-withdraw-form input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Course Recap Sheet section styles */
.course-recap-sheet-section {
  text-align: center;
}

.course-recap-sheet-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #ccc;
}

.course-recap-sheet-table th,
.course-recap-sheet-table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.course-recap-sheet-table th {
  font-weight: bold;
}

/* Course Registration section styles */
.course-registration-section {
  text-align: center;
}

.course-registration-form {
  max-width: 400px;
  margin: 0 auto;
}

.course-registration-form h2 {
  margin-bottom: 20px;
}

.course-registration-form .form-group {
  margin-bottom: 10px;
  text-align: left;
}

.course-registration-form label {
  display: block;
  font-weight: bold;
}

.course-registration-form select,
.course-registration-form input[type="number"],
.course-registration-form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.course-registration-form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.course-registration-form input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Login section styles */
.container {
  margin: 5px auto;
  background-color: #fff;
  padding: 30px;
  display: flex;
  align-items: center;
}
.container h1 {
  font-size: 36px;
  margin-bottom: 30px;
  color: blue;
  text-align: center;
}
.frg {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}
.frg label {
  font-size: 18px;
  margin-bottom: 5px;
  color: #444;
}
.frg input {
  padding: 15px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #444;
  width: 100%;
}
.frg input:focus {
  outline: none;
  border: 1px solid blue;
}
.frg .error {
  font-size: 12px;
  position: absolute;
  bottom: -20px;
  left: 0;
  color: red;
}
.buttonlogin{
  background-color: blue;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}
.buttonlogin:hover {
  background-color: rgb(74, 74, 255);
}


/* Current Semester and Previous Semester */
.gpa-table-section {
  width: 30%;
  margin-right: 40px;
}

.gpa-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.gpa-table caption {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.gpa-table th,
.gpa-table td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}

.result-section {
  width: 70%;
}

.semester-result-section {
  margin-bottom: 40px;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.semester-result-section h2 {
  color: rgb(0, 38, 161);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}

.result-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  margin: 0 auto;
}

.result-table th,
.result-table td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}

.result-table th {
  font-weight: bold;
}


/* Current Semester Courses */
h1 {
  text-align: center;
  margin-bottom: 20px;
}

.tbl-container {
  width: 100%;
  margin: 0 auto;
  overflow-x: auto;
}

.tbl-courses {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.tbl-courses th,
.tbl-courses td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.tbl-courses th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.tbl-courses td a {
  text-decoration: none;
  color: rgb(0, 38, 161);
}

.tbl-courses td a:hover {
  text-decoration: underline;
}

/* Printing Report */

.report-table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 14px;
  border: 1px solid #ccc;
}

.report-table td {
  padding: 10px;
}

.print-button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.print-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

.print-button:hover {
  background-color: #0056b3;
}

/* Change Pass */
.changePasswordForm {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.changePasswordForm h2 {
  text-align: center;
  margin-bottom: 20px;
}

.changePasswordForm form {
  display: flex;
  flex-direction: column;
}

.changePasswordForm input[type="password"] {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.changePasswordForm button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.changePasswordForm button[type="submit"]:hover {
  background-color: #0056b3;
}

